:root{
    --primary-color: #364c98;
    --secondary-color: #f5f5f5;
    --header-height: 56px;
    --number-panel-item: 5;
    --sidebar-active: 250px;
    --sidebar-inactive: 70px;
}

@media screen and (min-width: 600px) {
    :root{
        --header-height: 64px;
    }
}