.search {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
  
    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }
  
  .search-form {
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
  
    &.focus {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
  }
  
  .search-form:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }